.modal-title {
    width: 100%;
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.modal-content {
    color: #C54684;
}

.form-check-label {
    color: #4f4f4f;
}

.form-check-input[type=checkbox]:checked, .form-check-input[type=checkbox]:checked:focus {
    background-image: none;
    background-color: #C54684;
}

.form-switch .form-check-input:checked[type=checkbox]:after{
    background-color: #C54684;
}

.form-switch .form-check-input:checked:focus:before {
    box-shadow: 3px -1px 0px 13px #C54684;
}

.btn, .btn:hover {
    color: #C54684;
}

.success, .success:hover {
    background-color: #C54684;
    color: #FFFFFF;
}

.modal-dialog-scrollable .modal-content {
    max-height: 70%;
    overflow: hidden;
}

.btn.toggle {
    padding: 10px;
    margin: 0;
    background: inherit;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    color: #C54684;
}

.btn.toggle i {
    padding: 0;
}

.btn i {
    padding-left: 5px;
}

.btn-primary {
    --mdb-btn-bg: #FFFFFF;
    --mdb-btn-box-shadow: none;
    --mdb-btn-hover-bg: #FFFFFF;
    --mdb-btn-focus-bg: #FFFFFF;
    --mdb-btn-active-bg: #FFFFFF;
    --mdb-btn-box-shadow-state: none;
}